@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  padding: 3rem;
  padding-top: 5%;
  /* border-radius: 1rem; */

}

.message {
    color: var(--color-text);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.codeBox {
  width: 100%;
  max-width: 800px;
  background-color: rgb(16, 33, 80);
  color: #fff;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-family: "Gill Sans MT", "Gill Sans", Calibri, sans-serif;
  overflow-x: auto;
}

.copyBtn {
  background-color: var(--color-text); /* your yellow */
  color: var(--color-primary); 
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.copyBtn:hover {
  background-color: rgb(5, 19, 57, 0.7); /* slightly darker on hover */
}
