:root {
    /* Colors */
    --color-text: #11296b;
    --color-primary: #ffcb05;
    --color-secondary: #ffdb57;
    --color-dark: #00509d;
    --color-bg: #ededed;

    /* Fonts */
    --font-robot: "Roboto"

#fb74a8

}