:root {
    /* Colors */
    --color-text: rgb(5, 19, 57);
    --color-primary: rgb(255, 203, 5);
    --color-secondary: rgb(255, 219, 87);
    --color-dark: #00509d;
    --color-bg: #031138;

    /* Fonts */
    --font-roboto: "Roboto"
    --font-montserrat: "Montserrat"


}