:root {
    /* Colors */
    --color-text: #051339;
    --color-primary: #ffcb05;
    --color-secondary: #ffdb57;
    --color-dark: #00509d;
    --color-bg: #031138;

    /* Fonts */
    --font-roboto: "Roboto"
    --font-montserrat: "Montserrat"


}