@import "../../vars.css";

.navbar {
  position: relative;
  background-color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 3;
}

.Image {
  width: 80px;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.title {

  font-size: clamp(2rem, 4vw, 4rem); /* scales with screen width */
  font-weight: 900;
  line-height: 1.2; /* prevents overlapping lines */
  margin-bottom: 1rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, var(--color-primary) 0%, rgb(236, 187, 24) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center; /* optional, centers text */
  z-index: 0;
}

.brand {

  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0px;


}

.menu {
  display: flex;
  margin-right: 30px;
}

.menuItems {
  display: flex;
  gap: 10px;
  list-style: none;

}

.menuBtn {

  display: none;
  cursor: pointer;
}

.menuItems a {
  margin-left: 50px;
  font-size: 20px;
  color: var(--color-primary);
  text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

@media screen and (max-width: 1200px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    z-index: 5;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    z-index: 5;
  }

  .menuBtn {
    display: block;
    cursor: pointer;

  }

  .menuItems {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--color-text);
    border-radius: 10px;
    background: var(--color-text);
    background: linear-gradient(0deg, var(--color-text) 100%);
    padding: 24px 20px;
    box-shadow: 0 0 4px 0 rgba(82, 46, 56, 1);
    z-index: 5;
  }



  .menuOpen {
    display: flex;
    z-index: 5;


  }
}