@import "../../../vars.css";

.navbar {
  position: relative;
  background-color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 3;
}

.Image {
  width: 80px;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.title {
  position: flex;
  margin: 50px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-primary);
  margin: 0% auto;
}

.brand {

  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0px;

}

.menu {
  display: flex;
  margin-right: 30px;
}

.menuItems {
  display: flex;
  gap: 10px;
  list-style: none;


}

.menuBtn {

  display: none;
  cursor: pointer;
}

.menuItems a {
  margin-left: 50px;
  font-size: 20px;
  color: var(--color-primary);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;

  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--color-primary);
    background: linear-gradient(0deg, rgba(213, 93, 146, 1) 0%, rgba(82, 46, 56, 1) 100%);
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(82, 46, 56, 1);
  }



  .menuOpen {
    display: flex;
    z-index: 1;


  }
}