@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
  z-index: 3;
  background-color: var(--color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  color: var(--color-text);
  z-index: 0;
}

.subTitle {
  font-size: clamp(1.8rem, 2.3vw, 2rem);
  font-weight: 600;
  color: var(--color-text);
  line-height: 1.3;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 0;
}

.highlightsList {
  list-style-type: disc;
  padding-left: 1.2rem;
  margin-bottom: 2rem;
}

.highlightsList li {
  margin-bottom: 1.5rem;
  font-size: clamp(1.5rem, 2.5vw, 1.25rem);
  line-height: 1.5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--color-text);
}

.highlightsList li strong {
  font-weight: 600;
}

.description {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  text-align: center;
  margin-top: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--color-text);
}

.description a {
  color: var(--color-text);
  text-decoration: none;
}

.description a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  .highlightsList li {
    font-size: clamp(0.95rem, 2.5vw, 1.1rem);
  }
}
